* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-white: #fffcf2;
  --chocolate-red: #640016;
  --dark-green: #143224;
  --font-shadow: 0.1rem 0.1rem #000, 0.1rem -0.1rem #000, -0.1rem 0.1rem #000,
    -0.1rem -0.1rem #000;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  list-style: none;
}

.container {
  height: 100vh;

  display: grid;
  grid-template-rows: 130px 1fr 50px;
}

/* header */
.header {
  background-color: var(--light-white);

  display: grid;
  align-items: center;
  grid-template-areas: "... title buttons";
  grid-template-columns: 1fr 500px 1fr;
}

.title-container {
  grid-area: title;
  height: 85%;
  min-width: 500px;
  border: 0.2rem double var(--chocolate-red);

  display: grid;
  grid-template-areas:
    "top-left     .....  top-right"
    "top-left     title  top-right"
    "bottom-left  title  bottom-right"
    "bottom-left  .....  bottom-right";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 50px 1fr 50px;
}

.top-right,
.bottom-left {
  background-image: url(./svg/corner.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.top-right {
  grid-area: top-right;
}

.bottom-right {
  grid-area: bottom-right;
}

.bottom-left {
  grid-area: bottom-left;
  transform: rotate(180deg);
}

.top-left {
  grid-area: top-left;
}

.title {
  grid-area: title;
  font-family: "Rye", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
  color: var(--chocolate-red);

  display: grid;
  place-items: center;
}

.button-container {
  width: 50%;
  height: 50%;
  grid-area: buttons;
  align-self: end;
  justify-self: end;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 9rem 3rem;
  grid-template-rows: 3rem;
  place-content: center;
  gap: 1rem;
}

.button-container div:hover {
  cursor: pointer;
}

.button.add-book {
  font-family: "Macondo Swash Caps", cursive;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: normal;
  color: var(--chocolate-red);

  padding: 0.5rem 0.5rem;
  place-self: center;
  border: none;

  text-decoration: transparent;
  transition: all 0.3s;
}

.button.add-book:hover {
  text-decoration: underline;
}

.button.mute {
  background-image: url(./svg/volume-off.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 2rem;
}

.button.mute.on {
  background-image: url(./svg/volume-high.svg);
}

/* main */
.main {
}

.shelf {
  height: 100%;
  padding: 20px 20px 20px 20px;
  background: var(--chocolate-red);

  display: grid;
  /* grid-template-rows: repeat(auto-fill, 680px); */
}

.shelf-row {
  background: var(--light-white);
  padding: 150px 10px 10px 10px;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 150px);
  gap: 10px;
}

.book {
  background: var(--dark-green);
  color: #f7ed4c;
  border: 0.4rem double black;
  padding: 80px 50px;
  transition: all 0.1s;

  display: grid;
  justify-content: center;
}

.book:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.book-title {
  font-family: "Germania One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.85rem;
  text-align: center;
  text-shadow: var(--font-shadow);

  display: flex;
  flex-direction: column;
}

.book-title-word {
  flex-basis: 2.3rem;
}

.book-dialog {
  margin: auto;
  min-width: 30%;
  min-height: 30%;
  border: none;

  opacity: 0;
  transform: scaleY(0);
  transition: all 0.2s allow-discrete;
}

.book-dialog:open {
  padding: 3rem 1.5rem;
  outline: 0.4rem double var(--chocolate-red);
  outline-offset: -0.5rem;
  background-color: var(--light-white);

  opacity: 1;
  transform: scaleY(1);

  display: grid;
  grid-template-rows: 4rem 2rem 2rem 2rem;
  align-content: space-between;
}

@starting-style {
  .book-dialog:open {
    opacity: 0;
    transform: scaleY(0);
  }
}

.book-dialog::backdrop {
  background-color: transparent;
  transition: all 0.3s allow-discrete;
}

.book-dialog:open::backdrop {
  background-color: #030720b9;
}

@starting-style {
  .book-dialog:open::backdrop {
    background-color: transparent;
  }
}

.book-dialog > h2 {
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
}

.book-dialog > h2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.book-dialog > p {
  font-family: "Sono", monospace;
  font-style: normal;
  font-variation-settings: "MONO" 1;
  font-size: 1.15rem;
  letter-spacing: -0.05rem;
}

/* footer */
.footer {
  background-color: var(--light-white);
  color: var(--chocolate-red);
  font-weight: 500;
  letter-spacing: 0.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: inherit;
}

.footer a:visited {
  color: inherit;
}
